<a href="https://colab.research.google.com/github/Josuex28/Python/blob/main/Clase%20de%20prograIII.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tarea: Convertir grados Celsius a Farenheit

In [ ]:
def convertir_cf(c):
  return c*1.8 + 32

In [ ]:
c= float (input("Celsius:"))
print("F:", convertir_cf(c))

Celsius:33
F: 91.4

Convertir grados Farenheit y Celsius a kelvin

In [ ]:
def convertir_cf(c):
  return c*1.8 + 32
def convertir_ck(c):
  return c + 273.15

In [48]:
C= float (input("Celsius:"))
print("F:", convertir_cf(C))
print("K:", convertir_ck(C))

Celsius:1
F: -272.15
K: -150.74999999999997

In [ ]:
def convertir_cf(f):
  return (f-32)/1.8
def convertir_ck(f):
  return (f-32)/1.8 + 273.15

In [49]:
c= float (input("Farenheit:"))
print("C:", convertir_cf(c))
print("K:", convertir_ck(c))

Farenheit:1
C: -272.15
K: -150.74999999999997

In [46]:
def convertir_ck(k):
  return k -273.15 /1.8
def convertir_cf(k):
  return k- 273.15

In [50]:
C= float (input("Kelvin:"))
print("C:", convertir_cf(C))
print("F:", convertir_ck(C))

Kelvin:1
C: -272.15
F: -150.74999999999997

EJERCICIO- Elevar un numero al cuadrado

In [31]:
def elevarcuadrado(base=0,exponente=2):
  return base**exponente

In [32]:
num= int(input("Num"))
print("Cuadrado:", elevarcuadrado(num,3))

Num3
Cuadrado: 27

USANDO FUNCIONES LAMBDA

In [20]:
elevarcuadradolambda = lambda base, exponente: base**exponente

In [26]:
valor= int(input("Num:"))
print("cuadrado:", elevarcuadradolambda(valor,2))

Num:3
cuadrado: 9

In [33]:
serie = [5,4,3,2,6,7]
resp = map(lambda x:x**2, serie)
print(list(resp))

resp2= map(elevarcuadrado, serie)
print(list(resp2))

[25, 16, 9, 4, 36, 49]
[25, 16, 9, 4, 36, 49]

EJERCICIO: Obtener la raiz cuadrada de una serie de numeros fijos

In [34]:
serie = [10, 20, 30, 40]
resp = list (map(lambda x: x** 0.5, serie))
print(resp)

[3.1622776601683795, 4.47213595499958, 5.477225575051661, 6.324555320336759]